option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "/var/app/current:$PYTHONPATH"
    MONGO_DB_URL: "mongodb+srv://vhprabhathperera222:aycSTwnGqfIfHAYZ@clusterhash.fxzh5ya.mongodb.net/EbTest?retryWrites=true&w=majority"
  aws:elasticbeanstalk:container:python:
    WSGIPath: "main:app"